<div class="row">
  <div class="span10 offset3">
    <div class="page-header">
      <h1>Frequently Asked Questions</h1>
    </div>
    <dl>
      <dt>What is gymput?</dt>
      <dd>Gymput [gym+input] is a cloud-based gym prospecting app that makes prospect data collection easy, fun, interactive, and efficient.  We want to help gyms modernize their prospecting workflow to make it more efficient, and help prospects have fun in the process.  We also think clipboards and forms are evil, and would like to rid this world of them (at least at gyms).  </dd>
      <dt>Is there anything to install in my gym's computer?</dt>
      <dd>No, our service resides in the cloud, so there is nothing for gyms to install or maintain.  We take care of all that.  </dd>
      <dt>Who has access to my gym's prospects data?</dt>
      <dd>Your gym does, and only your gym.  We do not sell, trade, or make public any of your prospects data.  Our servers are secure and data transactions use bank-level security.  </dd>
    </dl>
  </div>
</div>
