<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>gymput</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../public/assets/css/bootstrap-faq.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="../public/assets/css/bootstrap-faq-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]> d6491264e10a
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html"><img ?="" alt="gymput" src="../public/assets/img/logo.png">
		  </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li class="active"><a href="#login">Login</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="span10 offset3">
			<div class="page-header">
				<h1>Frequently Asked Questions</h1>
			</div>
			<dl>
				<dt>What is gymput?</dt>
				<dd>Gymput [gym+input] is a cloud-based gym prospecting app that makes prospect data collection easy, fun, interactive, and efficient.  We want to help gyms modernize their prospecting workflow to make it more efficient, and help prospects have fun in the process.  We also think clipboards and forms are evil, and would like to rid this world of them (at least at gyms).
				</dd>
				<dt>Is there anything to install in my gym's computer?</dt>
				<dd>No, our service resides in the cloud, so there is nothing for gyms to install or maintain.  We take care of all that.
				</dd>
				<dt>Who has access to my gym's prospects data?</dt>
				<dd>Your gym does, and only your gym.  We do not sell, trade, or make public any of your prospects data.  Our servers are secure and data transactions use bank-level security.
				</dd>
			</dl>
		</div>	
		
      </div>

      <hr>

      <footer>
        <p>&copy; Daily.Do 2012</p>
		<!--<div id="footer-floor">
        <div class="container">
          <div class="row">
            <div class="span7">
              <h3 id="phone">
                1-800-GYMPUT1
              </h3>
              <p>
                &copy; 2011 <a title="Daily.Do - Remarkable web-based software and websites in Madison, WI" href="http://www.daily.do">Daily.Do, LLC</a>. All Rights Reserved.
                &nbsp;<a href="/terms">Terms</a>&nbsp;&amp;&nbsp;<a href="/privacy">Privacy</a>.
              </p>
            </div>
            <div id="elsewhere-msg" class="span2 ar">
              <h4>Stay in touch:</h4>
            </div>
            <div id="elsewhere-icons" class="span3">
              <a title="Follow @dailydotdo on Twitter" href="https://twitter.com/dailydotdo" class="twitter">
                Twitter
              </a>
              <a title="&quot;Like&quot; daily.do on Facebook" href="https://www.facebook.com/dailydotdo" class="facebook">
                Facebook
              </a>
              <a title="Read our blog" href="http://blog.daily.do" class="blog">
                Blog
              </a>
            </div>
          </div>
        </div>
      </div>-->
      </footer>

    </div> <!-- /container -->
	
	  
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>

	</body>
</html>
