<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>gymput</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="js/vendor/jquery-1.8.0.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>
    <script src="js/vendor/backbone-min.js"></script>
    <script src="js/vendor/ICanHaz.min.js"></script>

    <script src="js/app/view.js"></script>
    <!-- <script src="js/app/model.js"></script> -->

    <script src="js/login/view.js"></script>
    <script src="js/login/model.js"></script>

    <script src="js/router.js"></script>
    <script src="js/main.js"></script>


    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet" >
    <link href="css/gymput.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 80px;
        padding-bottom: 40px;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]> d6491264e10a
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img alt="gymput" src="assets/img/logo.png"></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#faq">FAQ</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#login" id="menu_login">Login</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="main" class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <div class="row">
          <div class="span4">
            <h1>Cloud-based <br /> gym prospecting app </h1>
            <a class="btn btn-primary btn-large" href="#contact">Get Started Now &raquo;</a>
          </div>
          <div class="span4">
            <iframe width="521" height="293" src="http://www.youtube.com/embed/o2spVsgr1sw" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span3">
          <img alt="heart" src="assets/img/icon-heart.png" /><br>
          <h2>Easy</h2>
           <p>Have prospects enter data electronically using a tablet device.  We've optimized the data collection process to make it very user friendly and easy.</p>
        </div>
        <div class="span3">
          <img src="assets/img/icon-dbell.png" alt="dbell" /><br>
          <h2>Fun</h2>
           <p>No more boring paper forms: there's a cool app for that!  You could even include a picture or video of the latest equipment you have at the gym.  Try doing that with a paper form!</p>
        </div>
        <div class="span3">
          <img src="assets/img/icon-arrows.png" alt="arrows" /><br>
          <h2>Interactive</h2>
          <p>Capture more prospect data using customizable intuitive design.  The more you learn about your prospect, the better your marketing and follow-up efforts!  You could also connect with your prospects on social media, right from the app!</p>
        </div>
        <div class="span3">
          <img ?="" src="assets/img/icon-dollar.png" alt="dollar"><br>
          <h2>Efficient</h2>
          <p>Improve workflow and never miss a follow-up with a prospect!  Their data is available to you electronically, so no more manual data entry and trying to decipher handwritings!</p>
        </div>
      </div>


    </div>

<div class="row span12">
  <hr />
  <p>&copy; Daily.Do 2012</p>
</div>

<!-- TEMPLATES -->
<script id="main_intro" type="text/html">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <div class="row">
      <div class="span4">
        <h1>Cloud-based <br /> gym prospecting app </h1>
        <a class="btn btn-primary btn-large" href="#contact">Get Started Now &raquo;</a>
      </div>
      <div class="span4">
        <iframe width="521" height="293" src="http://www.youtube.com/embed/o2spVsgr1sw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span3">
      <img alt="heart" src="assets/img/icon-heart.png" /><br>
      <h2>Easy</h2>
       <p>Have prospects enter data electronically using a tablet device.  We've optimized the data collection process to make it very user friendly and easy.</p>
    </div>
    <div class="span3">
      <img src="assets/img/icon-dbell.png" alt="dbell" /><br>
      <h2>Fun</h2>
       <p>No more boring paper forms: there's a cool app for that!  You could even include a picture or video of the latest equipment you have at the gym.  Try doing that with a paper form!</p>
    </div>
    <div class="span3">
      <img src="assets/img/icon-arrows.png" alt="arrows" /><br>
      <h2>Interactive</h2>
      <p>Capture more prospect data using customizable intuitive design.  The more you learn about your prospect, the better your marketing and follow-up efforts!  You could also connect with your prospects on social media, right from the app!</p>
    </div>
    <div class="span3">
      <img ?="" src="assets/img/icon-dollar.png" alt="dollar"><br>
      <h2>Efficient</h2>
      <p>Improve workflow and never miss a follow-up with a prospect!  Their data is available to you electronically, so no more manual data entry and trying to decipher handwritings!</p>
    </div>
  </div>
</script>

<script id="main_contact" type="text/html">
  <div class="row">
		<div class="page-header">
			<h1>Request Information</h1>
		</div>
    <form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputEmail">Email</label>
				<div class="controls">
					<input type="text" class="input-medium" placeholder="Email">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputName">Name</label>
				<div class="controls">
					<input type="text" class="input-medium" placeholder="Name">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputMessage">Message</label>
				<div class="controls">
					<input type="text" class="input-large" placeholder="Message (Optional)">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Send Request</button>
				</div>
			</div>
    </form>
  </div>
</script>


<script id="main_faq" type="text/html">
  <div class="row">
    <div class="span10">
      <div class="page-header">
        <h1>Frequently Asked Questions</h1>
      </div>
      <dl class="faq">
        <dt>What is gymput?</dt>
        <dd>Gymput [gym+input] is a cloud-based gym prospecting app that makes prospect data collection easy, fun, interactive, and efficient.  We want to help gyms modernize their prospecting workflow to make it more efficient, and help prospects have fun in the process.  We also think clipboards and forms are evil, and would like to rid this world of them (at least at gyms).  </dd>
        <dt>Is there anything to install in my gym's computer?</dt>
        <dd>No, our service resides in the cloud, so there is nothing for gyms to install or maintain.  We take care of all that.  </dd>
        <dt>Who has access to my gym's prospects data?</dt>
        <dd>Your gym does, and only your gym.  We do not sell, trade, or make public any of your prospects data.  Our servers are secure and data transactions use bank-level security.  </dd>
      </dl>
    </div>
  </div>
</script>

<script id="login_unauth" type="text/html">
  <div class="login-modal">
	<p>Please make a request for information on our contact form to signup.</p>
<!--
    <form class="form-inline login-form">
      <input type="text" class="input-medium" placeholder="Email">
      <input type="password" class="input-medium" placeholder="Password">
      <button type="submit" class="btn">Sign in</button>
      <button class="btn">Sign up</button>
    </form>
-->
  </div>
</script>

  </body>
</html>
