<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>gymput</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="js/gymput.js"></script>

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]> d6491264e10a
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img alt="gymput" src="assets/img/logo.png"></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="faq">FAQ</a></li>
              <li><a href="contact">Contact</a></li>
              <li class="active"><a href="#login">Login</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="main" class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <div class="row">
          <div class="span4">
          <p>
            <h1>Cloud-based <br /> gym prospecting app </h1>
          </p>
          <p>
            <a class="btn btn-primary btn-large" href="contact.html">Get Started Now &raquo;</a>
          </p>
          </div>
          <div class="span4">
            <iframe width="521" height="293" src="http://www.youtube.com/embed/o2spVsgr1sw" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <img alt="heart" src="assets/img/icon-heart.png" /><br>
          <h2>Easy</h2>
           <p>Have prospects enter data electronically using a tablet device.  We've optimized the data collection process to make it very user friendly and easy.</p>
        </div>
        <div class="span3">
          <img src="assets/img/icon-dbell.png" alt="dbell" /><br>
          <h2>Fun</h2>
           <p>No more boring paper forms: there's a cool app for that!  You could even include a picture or video of the latest equipment you have at the gym.  Try doing that with a paper form!</p>
        </div>
        <div class="span3">
          <img src="assets/img/icon-arrows.png" alt="arrows" /><br>
          <h2>Interactive</h2>
          <p>Capture more prospect data using customizable intuitive design.  The more you learn about your prospect, the better your marketing and follow-up efforts!  You could also connect with your prospects on social media, right from the app!</p>
        </div>
        <div class="span3">
          <img ?="" src="assets/img/icon-dollar.png" alt="dollar"><br>
          <h2>Efficient</h2>
          <p>Improve workflow and never miss a follow-up with a prospect!  Their data is available to you electronically, so no more manual data entry and trying to decipher handwritings!</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Daily.Do 2012</p>
      </footer>

    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>
  </body>
</html>
